.home_hero{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	// background: red;
	min-height: 80vh;
	.text{
		display: flex;
		gap: .5em;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img{
			max-width: 350px;
		}
		// background: green;
		text-align: center;
		.tagline{
			background: linear-gradient(180deg, #F00 0%, rgba(0, 0, 0, 0.00) 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: var(--cPrimary);
			text-shadow: none;
			font-size: 1.1rem;
		}
		.bio{
			color: var(--cPrimary);
			text-shadow: none;
			font-size: 1.15rem;
			margin: .25em 0;
			.highlight{
				color: #B20D8E;
			}
		}
		.ott{
			color: var(--cPrimary);
			text-shadow: none;
			font-size: .6rem;
		}

		.action{
			display: flex;
			gap: 1em;

			.btn{
				background: var(--cPrimaryDark);
				color: white;
				border: 2px solid var(--cPrimaryDark);
				font-size: 1.2rem;
				padding: .25em 1em;
				font-family: var(--fontMain);
				text-decoration: none;
				&.hi{
					min-width: 170px;
					border-bottom: 4px solid  #9F4A5E;
				}
				
				&.outline{
					background: none;
					color: var(--cPrimaryDark);

					&:hover{
						background:#b7787d2a;
					}
				}
			}
			
		}
	}

	.image{
		position: relative;
		z-index: 1;
	
		img{
			max-width: 100%;
		}

		.pfp{
			position: relative;
			// &::before{
			// 	content: '';
			// 	position: absolute;
			// 	width: 100%;
			// 	// height: 100%;
			// 	border: 3px dashed black;
			// 	border-style: dashed;
			// 	border-radius: 100%;
			// 	// background: red;
			// 	aspect-ratio: 1/1;
			// 	left: -1%;
			// 	top: -1%;

			// 	scale: 1.2;
			// }
		}

		.bordered{
			position: absolute;
			scale: 1.5;
			opacity: .5;
			circle{
				width: 100%;
				height: 100%;
				stroke-dashoffset: 2px;
				stroke-dasharray: 10;
				stroke-width: 1px;
				stroke-linecap: round;
			}
			animation: speen 55s linear alternate infinite;
		}
		.ear{
			position: absolute;
			z-index: -1;
			left: 10%;
			bottom:80%;
			max-height: 300px;
			max-width:70px;
			&.r{
				left: 65%;
				scale: -1 1;
			}
		}
		display: flex;
		align-items:center;
		justify-content: center;
		.main-pfp{
			// display;
			width: 300px;

			outline: 15px solid var(--cPrimary);
			outline-offset: 6px;
			border-radius: 50%;

		}
	}

	.contacts{
		position: absolute;
		right: 0%;
		display: flex;
		flex-direction: column;
		gap: .25em;
		padding-right: 20px;
		.contact-heart{
			padding: .55em;
			position: relative;
			svg{
				fill: var(--cPrimary);
			}

			&:hover{
				.main-icon svg{
					scale: 1.5;
				}
				.bg-icon{
					scale: .7;
				
					svg{
						fill: white;
					}
				}
			}
			.main-icon svg{
				width: 100%;
				height: 100%;
				scale: 1.1;
				transition: all 250ms ease;
				fill: var(--cPrimaryDark);
			}
			.bg-icon{
				position: absolute;
				transform: translate(-50%);
				transition: all 400ms ease;
				transform-origin: center;
				svg{
					width: 50px;
					// width: 100%;
					// height: 100%;
					height: 50px;
					fill: var(--cPrimary);
				}
				top:-10%;
				scale: 1;
				left: 50%;
			}
		}
	}
}

@keyframes speen {
	0%{
		rotate: 0deg;
	}
	100%{
		rotate: 360deg;
	}
}