#container_contact{
	
	// margin: 1em;
	// padding: 1em 2em;
	
	.decor_ears{
		display: flex;
		justify-content: space-between;
		width: 100%;
		z-index: -1000;
		max-width: 1200px;
		margin:-10px auto;
		.l{
			scale: -1 1;
		}
		.ear{
			transition: all 250ms ease;
		}
		filter: drop-shadow(4px 4px #cc777779);
		transition: all 250ms ease;
		&:hover{
			scale: 1 .8;
		}
	}
	.contact-panel{
		max-width: 1200px;
		margin: 0 auto;
		background-color: red;
		display: grid;
		grid-template-columns: 1fr 1fr;
		border-radius: 1em;
		border: 4px solid white;
		background:linear-gradient(180deg, #F2A3AC 0%, #BD4968 100%);
		position: relative;
		z-index: 1;
		filter: drop-shadow(4px 4px #cc777779);
		&::before{
			position: absolute;
			left: 0%;
			right: 0%;
			width: 100%;
			height: 100%;
			background: url('/images/textures/checker.png');
			z-index: -1;
			user-select: none;
			pointer-events: none;
			content: '';
		}
		
	
		.contact-form{
			padding: 2em;
			.form-header{
				// display: flex;
				.head{
					display: flex;
					gap: .45em;
					align-items: center;
					h1{
						font-size: 3rem;
						font-weight: 500;
					}
					img{
						max-width: 40px;
						gap: 1em;
					}
				}
				.desc{
					margin: .5em 0;
					font-size: 1rem;
					p{
						color: #FEDBDE;
						opacity: 1;
					}
				}
			}

			.group{
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1em;
			}
			.form-group{
				display: flex;
				flex-direction: column;
				label{
					font-weight: 500;
					margin-top: 1em;
					margin-bottom: .25em;
					color: #FFCACF;
				}
				input,textarea{
					background: #FFCACF;
					color: var(--cPrimaryDark);
					font-weight: 400;
					border: none;
					padding: .55em;
					font-size: 1.2rem;
					box-shadow: 2px 4px #5d283653;
					border-radius: .25em;
					resize: none;
					font-family: var(--fontMain);

					&::placeholder{
						opacity: .3;
						color: var(--cPrimaryDark);
					}
					&:focus{
						outline: 3px solid white;
					}
				}

				textarea{
					font-size: 1rem;
					height: 200px;
					font-weight: 400;
					font-family: var(--fontMain);
					padding: .5em;
				}
			}

			.action{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1em .25em;

				.contact-container{
					#contacts{
						position: relative;
						flex-direction: row;
						gap: .55em;

						svg{
							fill: white;
						}

						.contact-heart{

							&:hover{
								.main-icon svg{
									fill: black;
								}
							}
						}
					}
				}

				.btn.submit{

					background: none;
					border: none;
					font-family: var(--fontMain);
					text-align: center;
					position: relative;

					&:hover{
						color: black;	
					}
					.heart{
						position: absolute;
						width: 100%;
						height: 100%;
						scale: 5;
						top: 60%;
						left: 0%;
					}
				}
			}
		}

		.art-part{
			
			.art{

			
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 1;
				.decor_polar{
					// width: 100%;
					height: 100%;
					aspect-ratio: 1/1;
					scale: .6;
					pointer-events: none;
					z-index: -1;
					border-radius: 50%;
					position: absolute;
					background:url('/images/textures/wavy.png'), #E4BCDF;
					
					animation: skim 70s infinite linear;
				}

				.decor{
					position: absolute;
					top: 0;
					left: 0;

					transition: all 250ms ease;

					&.black{
						left: 60%;
						top: 20%;
						width: 110px;
					}
					&.xgroup{
						left: 5%;
						top: 30%;
						width: 110px;
					}
				}

				img{
					max-width: 100%;
					transition: all 450ms ease;

					// width: 500px;
					// max-height: 100%;
				}

			}
			&:hover{
				.art .art-img{
					scale: 1.05;
				}

				.decor.xgroup{
					transform: translateX(20px) scale(.8) ;
				}
				.decor.black{
					transform: translateX(-20px) rotate(-10deg);
				}
			}
		}
		.decor_c{
			position: absolute;
			right: calc(0% - 80px);
			transform-origin: center;
			top: 15%;

			&.t{
				scale: .5;
			}
			&.m{
				top: 30%;
				scale: .7;
			}

			&.b{
				top: 45%;
				scale: .5;
			}
		}
	}
}

@keyframes skim {
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: -400% 400%;

	}
}