#about_stream{
	background: url('/images/textures/circle_dot.png'),#F4ACBA;
	background-size: 20px;
	box-shadow: 4px 4px 13px 5px rgba(171, 85, 85, 0.475);
	// border-block: 14px solid var(--cPrimaryDark);
	margin: 100px 0;
	.content{
		max-width: 900px;
		margin: 0 auto;
		min-height: 350px;
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		gap: 1em;	
		position: relative;
		z-index: 1;

		figure{
			display: flex;
			// align-items: center;
			justify-content: center;
			position: relative;
			&::after{
				content: '';
				// width: 100%;
				aspect-ratio: 1/1;
				top: 0%;
				position: absolute;
				left: 0%;
				border-radius: 100%;
				z-index: -4;
				background: white;
				height: 100%;
				scale: .7;
			}
			img{
				max-width: 100%;
				max-width: 250px;
				object-position: center;
				object-fit: contain;
				// background: red;
				scale: 1.2;
			}
	
			.decor_darkov{
				display: none;
			}
		}

		article{
			display: flex;
			align-items: center;
			.panel{
				outline: 4px solid white;
				margin: 1em;
				background: var(--cPrimaryGrad);
				border-radius: 1em;
				padding: 1em  1.2em ;
				.title{
					font-size: 1.5rem;
				}
				.line{
					border: none;
					border-bottom: 4px dotted var(--cPrimaryDark);
					margin: .45em 0;
					opacity: .5;
				}
				p,span{
					text-shadow: none;
				}

				.description{
					font-size: .8rem;
				}
			}
			position: relative;
			.decor_heart{
				position: absolute;

				z-index: -1;
				&.r{
					right: -5%;
					max-width: 120px;
					top: 0%;
				}

				&.l{
					left: 0%;
					top: 10%;
					max-width: 50px;
				}
			}

			.action{
				margin: 1em 0;
				display: flex;
				justify-content: flex-end;
			}
			.btn{
				padding: .25em 1em;
				border: 2px solid white;
				text-decoration: none;
			}
		}
	}

}

body.dark{
	#about_stream{
		background: url('/images/textures/circle_dot.png'),#231526;
		.content{
			figure{
				position: relative;
				&::after{
					background: black;
				}
				.decor_darkov{
					position: absolute;
					top: 0%;
					left: 20%;
					scale: 1.4;
					display: block;
					animation: darkov 3s alternate-reverse infinite steps(5,end),darkov-pos 0.5s alternate-reverse infinite steps(2,end);
				}
				.main_image{
					transform: skew(-20deg);
				}
			}
		}
	}
	#about_stream .content article .panel{
		outline-color: black;
		
	}

	#about_stream .content article .panel .title{
		color: #24FFF2;

		
	}
	#about_stream .content article{
		.h{
			color: #24FFF2;
			scale: 1.2;
			display: inline-block;
			font-weight: 500;
		}
	}
}

@keyframes darkov {
	0%{
		opacity: 0.6;
		scale: 2.2;
	}
	33%{
		opacity: 1;
		scale: 2.4;
	}
	66%{
		opacity: 0.6;
		scale: 1.5;
	}
	100%{
		scale: 2.8;
		opacity: 1;

	}
}

@keyframes darkov-pos {
	0%{
		left: 20%;
		top: -20%;
	}
	33%{
		left: -10%;
		top: 20%;
	}
	66%{
		left: 40%;
		top: 50%;
	}
	100%{
		top: -40%;
		left: 20%;

	}
}