
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	color: white;
}

h1,h2,p{
	text-shadow: 2px 2px rgba(0, 0, 0, 0.132);
}
html,
body {
	background: url('/images/backgrounds/body_normal.png'),white;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
	// height: 100vh;
	// overflow:hidden;
	&::before{
		content: '';
		opacity: 0;
	}
}


:root{
	// Color Variables
	--cPrimary: #C26B72;
	--cPrimaryDark: #B85064;
	--cPrimaryGrad:linear-gradient(180deg, #F2A3AC 0%, #CE5676 100%);
}

main{
	min-height: 90vh;
	background: url('/images/textures/dot.png');
	background-size: 1.2vh;
	padding-top: 50px;
	animation: moving 150s ease-in-out infinite;
	overflow: hidden;
	position: relative;
}



.btn{
	scale: 1;

	transition: all 250ms ease;
	border-radius: 1em;
	cursor: pointer;
	display: block;
	width: max-content;
	&:hover{
		scale: 1.05;
	}
	&:active{
		scale: .95;
	}
}

@keyframes moving{
	0%{
		background-position: 0% 0%;
		
	}
	100%{
		background-position: 200% 100%;
	}
}


@keyframes moving-alt{
	0%{
		background-position: 0% 0%;
	}
	5%{
		background-position: 50% 120%;
	}
	35%{

		background-position: -50% -120%;
	}
	66%{
		
		background-position: -890% -220%;
	}
	85%{
		background-position: -150% 220%;

	}
	to{
		background-position: 0% 0%;
	}
}
body.dark{
	--cPrimary: #000000;
	--cPrimaryDark: rgb(128, 62, 221);
	--cPrimaryGrad:linear-gradient(180deg, #121212 0%, #464545 100%);
	background: url('/images/backgrounds/body_dark.png'),rgb(0, 0, 0);
	background-size: 400px;
	animation: moving-alt 1s steps(2,end) infinite;

	
	&::before{
		width: 100%;
		height: 100%;
		content: '';
		top: 0;
		left: 0;
		position: fixed;
		opacity: 0.8;
		background:  radial-gradient(36.02% 36.02% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.537) 65.1%, rgba(89, 7, 7, 0.7) 100%);
		z-index: 10000;
		transition: all 150ms ease;
		user-select: none;
		pointer-events: none;
		animation: beat 0.4s infinite ease-in-out alternate-reverse;
		
	}
	main{
		background: url('/images/textures/scravy.png');
		opacity: 0.82;
		min-height: 100vh;
	}
}

@keyframes beat {
	0%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}