
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	color: white;
}

h1,h2,p{
	text-shadow: 2px 2px rgba(0, 0, 0, 0.132);
}
html,
body {
  overflow-x: hidden;
	background: url('/images/backgrounds/body_normal.png'),white;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
}


main{
	min-height: 210vh;
}