
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	color: white;
}

h1,h2,p{
	text-shadow: 2px 2px rgba(0, 0, 0, 0.132);
}
html,
body {
	background: url('/images/backgrounds/body_normal.png'),white;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 100%;
	// height: 100vh;
	// overflow:hidden;
	&::before{
		content: '';
	}
}

:root{
	// Color Variables
	--cPrimary: #C26B72;
	--cPrimaryDark: #B85064;
	--cPrimaryGrad:linear-gradient(180deg, #F2A3AC 0%, #CE5676 100%);
}

main{
	min-height: 90vh;
	background: url('/images/textures/dot.png');
	background-size: 1.2vh;
	padding-top: 50px;
	animation: moving 150s ease-in-out infinite;
	overflow: hidden;
	position: relative;
}


.btn{
	scale: 1;

	transition: all 250ms ease;
	border-radius: 1em;
	cursor: pointer;
	display: block;
	width: max-content;
	&:hover{
		scale: 1.05;
	}
	&:active{
		scale: .95;
	}
}

@keyframes moving{
	0%{
		background-position: 0% 0%;
		
	}
	100%{
		background-position: 200% 100%;
	}
}