#container_footer{
	position: fixed;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	z-index: 1000;
	
	background: white;
	filter: drop-shadow(-2px -4px 2px rgba(173, 70, 70, 0.138));

	p,a,b{
		color: var(--cPrimary);
		text-align: right;
		font-size: .8rem;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.146);
	}

	svg{
		fill: var(--cPrimary);
	}
	b.dark{
		display: none;
	}
	a{
		b{
			transition: all 550ms ease;
			display: inline-block;
		}
		&:hover{
			b{
				animation: teeter 550ms ease-in-out forwards;
			}
		}
		@keyframes teeter {
			from{
				transform: translateY(0px);
			}
			10%{
				transform: translateY(5px) rotateZ(-20deg);
			}
			80%{
				transform: translateY(-6px);
			}
			to{
				transform: translateY(0px);
			}
		}
	}
	padding: 0 .25em;
	&::after{
		content: '';
		width: 1050%;
		height: 100%;
		$color:white;
		background: radial-gradient(circle,$color 0%,$color 79%,transparent 79%);
		background-size: 50px 70px;
		position: absolute;
		bottom: 80%;
		left: 0%;
		
		z-index: -2;
		animation: cycle 50s infinite linear alternate-reverse;
	}
}

@keyframes cycle {
	from{
		transform: translateX(-100vw); 
	}
	to{
		transform: translateX(0vw);
	}
} 
	

body.dark{
	#container_footer{
		background: #852749;
	filter: drop-shadow(-2px -4px 2px rgba(18, 7, 7, 0.138));

		&::after{
			$color: #852749;
			background: radial-gradient(circle,$color 0%,$color 79%,transparent 79%);
			background-size: 50px 70px;

		}
		
			b.light{
				display: none;
			}
			b.dark{
				display: block;
			}
	}
}