#gallery_vessels{
	padding: 1em;
	.vessels-list{
		margin-bottom: 2em;
		// background: white;
		width: 100%;
		display: flex;
		padding: 0 2em;
		gap: 80px;
		// background: red;


		overflow-x: auto ;
		white-space: nowrap;

		 
		$fadeSize: 30px;
		mask-image: linear-gradient(to right,transparent, black calc(0% + $fadeSize), black calc(100% - $fadeSize), transparent );
		.vessel{
			flex-shrink: 0;
			height: 460px;
			background: linear-gradient(70deg, #C26B72 25.09%, #BA5768 50.77%, #D39789 93.58%);
			border: 4px solid white;
			outline: 3px solid var(--cPrimaryDark);
			outline-offset: 2px;
			position: relative;
			margin: 2em 0;
			border-radius: 1em;
			width: 250px;
			z-index: 1;
			transition: all 250ms ease;
			&:hover{
				width: 400px;
				// margin: 2em 0;/
				margin-right: 3em;
				.main-img .half-img{
					opacity: 1;
				}
			}

			.data{
				position: absolute;
				// background: red;
				width: 100%;
				height: 100%;
				padding: .5em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				z-index: 10;
				
				.top{
					
					.vessel-name{
						font-family: var(--fontAlt);
						word-wrap: break-word;
						font-weight: 500;
					}
				}
				.bottom{
					display: flex;
					flex-direction: column;
					background: linear-gradient(to left, transparent 0%, rgba(250, 183, 183, 0.625) 100%);
					padding: .25em ;
					border-radius: .4em;
					.credit{
						text-decoration: none;
						text-shadow: 1px 1px rgba(0, 0, 0, 0.547);
						transition: all 100ms ease;
						span{
							transition: all 150ms ease;
						}
						&:hover{
							scale: 1.1 1;
							color: black;
							text-shadow: 1px 1px rgb(255, 255, 255);

							span{
								translate: 200px;
							}
							transform-origin: center;
						}
					}
				}
				
			}
			.decor_checker{
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 1em;
				background:url('/images/textures/checker.png');
				background-size: 100px;
				top: 0%;
				left: 0%;
				z-index: -10;
			}
			.main-img{
				width: 100%;
				height: 100%;
				// position: relative;
				.half-img{
					opacity: .3;
					width: 100%;
					transition: all 550ms ease;
					z-index: 5;
					height: 100%;
					border-radius: 1em;

					object-fit: cover; 
					// object-position: 80% 90%;
				}
				.full-img{
					height: 100%;
					max-width: 100%;
					object-fit: contain;
					right: -30%;
					top: 0%;
					scale: 1.1;
					// transform: lef;
					position: absolute;
					pointer-events: none;
					user-select: none;
				}
			}
		}
	}
}